<mat-table [dataSource]="people">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Nome</mat-header-cell>
    <mat-cell *matCellDef="let person"> {{person.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="birthdate">
    <mat-header-cell *matHeaderCellDef> Data de Nascimento</mat-header-cell>
    <mat-cell *matCellDef="let person"> {{person.birthdate}} </mat-cell>
  </ng-container>

  <ng-container matcolumndef="addresses">
    <mat-header-cell *matHeaderCellDef> Endereços</mat-header-cell>
    <mat-cell *matCellDef="let person">
      <mat-list>
        <mat-list-item *ngFor="let address of person.addresses">
          {{address.street}}, {{address.number}} - {{address.city}}/{{address.state}}
        </mat-list-item>
      </mat-list>
    </mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="action-column">
      <button
        mat-mini-fab
        color="accent"
        aria-label="Adicionar uma pessoa"
        (click)="onAdd()"
        class="action-column-header"
      >
        <mat-icon>add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let person" class="action-column">
      <button
        mat-icon-button
        color="primary"
        aria-label="Editar Curso"
        (click)="onEdit(person)"
      >
        <mat-icon>edit</mat-icon>
      </button>

      <button
        mat-icon-button
        color="warn"
        aria-label="Remover Curso"
        (click)="onDelete(person)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
